html{
	background: #242424;
}

body{
	margin: 5%;
}

h3{
	font-size: 2em;
	color: lightblue;
}

a{
	color: white;
}

#header a:active{
	color: red;
}

a:visited{
	color: #3683ff;
}

#links{
	color: white;
	font-size: 1.5em;
}

#projectsContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
	height: 100%;
}

.project{
	position: relative;
	
    margin: 1%;
    height: 300px;
    width: 300px;
	
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}

.projectName{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
	text-align: center;
	height: 15%;
	font-weight: bold;
	font-size: 1.7em;
}

.projectDesc{
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
	text-align: center;
	bottom: 0;
	position: absolute;
	font-size: 1em;
	height: 15%;
	padding: 1%;
	
    display: flex;
    flex-direction: column;
    justify-content: center;
}